body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  overflow: hidden;
}

.background{
  background: url('img/dream.jpg') no-repeat;
  background-size: cover;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  font-weight: bold;
}
.title{
  /*content: url('img/dream.jpg') no-repeat;*/
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  background-color: black;
  text-decoration: none;
}

.lineUp{
  z-index: 10;
}

.dancefloor{
  margin: 30px;
}

.dancer{
  content: url('img/dancer16.gif') no-repeat;
  border:none;
  position:absolute;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



.snoopDancer{
  content: url('img/dancer11.gif') no-repeat;
  border:none;
  position:absolute;
}

.timberlakeDancer{
  content: url('img/dancer15.gif') no-repeat;
  border:none;
  position:absolute;
  -webkit-animation:spin 0s linear infinite;
  -moz-animation:spin 0s linear infinite;
  animation:spin 0s linear infinite;
}
