body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}

.background{
  background: url('img/dancefloor2.jpg') no-repeat;
  background-size: cover;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  background-color: black;
}
.dancer{
  border:10px solid red;
  border-radius:0px;
  position:absolute;
}
